#start {
    margin-top: 96px;

    .start__container {
        @include flexB;
    }

    .start__title {
        @include title;
        max-width: 445px;
        width: 100%;
    }

    .start__form {
        @include emailBox;
        @include flexB;
    }

    .start__email {
        @include email;
    }

    .start__btn {
        @include btn;
    }

    @media screen and (max-width: 768px) {
        .start__form {
            margin-top: 40px;
        }

        .start__container {
            flex-direction: column;
            align-items: center;
            text-align: center;
        }
    }

    @media screen and (max-width: 420px) {
        .start__form{
            margin-top: 32px;
        }
        .start__btn{
            margin-top: 16px;
            max-width: 100%;
        }
    }
}