.pricing_bg {
    background-image: url(../image/pricing-img/bg_desk_img.png);
    background-repeat: no-repeat;
    background-position: top right;

    @media screen and (max-width: 768px) {
        background-image: url(../image/pricing-img/bg_tab_img.png);
    }
    @media screen and (max-width: 500px) {
        background-image: url(../image/pricing-img/bg_mob_img.png);
    }
}

#pricing {
    padding-top: 170px;

    .pricing__title {
        @include title;
        font-size: 56px;
    }

    .pricing__content {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        margin-top: 72px;
        gap: 30px;
    }

    .pricing__sup_title {
        color: $darkPinkColor;
        font-family: 'DM Serif Display';
        font-size: 32px;
        font-weight: 400;
        line-height: 40px;
        letter-spacing: -0.246px;
    }

    .pricing__text {
        color: $lightSanBlueColor;
        font-size: 15px;
        font-weight: 400;
        line-height: 28px;
        max-width: 350px;
        padding-top: 16px;
    }

    .pricing__sub_text {
        @include title;
        font-size: 56px;
        padding-top: 8px;
    }

    .pricing__list {
        display: flex;
        flex-direction: column;
        row-gap: 8px;
        margin: 24px 0;
        padding: 24px 0;
        border-top: 1px solid #BFCBD5;
        border-bottom: 1px solid #BFCBD5;
    }

    .pricing__item {
        color: $sanBlueColor;
        opacity: 0.6;
        font-size: 16px;
        font-weight: 400;
        line-height: 28px;
        padding-left: 36px;
    }

    .pricing__item--active {
        color: $sanBlueColor;
        opacity: 1;
        font-size: 16px;
        font-weight: 400;
        line-height: 28px;
        padding-left: 0;

        &::before {
            content: "";
            width: 12px;
            height: 12px;
            display: inline-block;
            background-repeat: no-repeat;
            background-image: url(../image/pricing-img/pricing_icon_img.svg);
            background-position: center;
            margin-right: 24px;
        }
    }

    .pricing__btn {
        color: $sanBlueColor;
        font-size: 15px;
        font-weight: 700;
        letter-spacing: -0.115px;
        border-radius: 24px;
        border: 1px solid $sanBlueColor;
        max-width: 168px;
        width: 100%;
        padding: 16px 0;
        text-align: center;
        transition: all .4s ease;

        &:hover {
            background-color: $sanBlueColor;
            color: $waterWhiteColor;
        }
    }

    @media screen and (max-width: 768px) {
        .pricing__title {
            font-size: 48px;
            text-align: center;
        }

        .pricing__sup_title {
            text-align: center;
            font-size: 24px;
        }

        .pricing__text {
            text-align: center;
        }

        .pricing__sub_text {
            font-size: 48px;
            text-align: center;
        }
    }

    @media screen and (max-width: 567px) {
        .pricing__content {
            grid-template-columns: 1fr 1fr;
        }
    }

    @media screen and (max-width: 400px) {
        .pricing__content {
            grid-template-columns: 1fr;
        }
    }
}